fastapi
uvicorn[standard]
pydantic
pydantic[email]
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-dotenv
alembic
pytest
pytest-asyncio
httpx
aiosqlite
python-multipart
